<h1>Books</h1>

<% @books.each do |book| %>

<h4>Title</h4>
<span><%= book.title %></span>

<h4>Body</h4>
<span><%= book.title %></span>

<%= link_to "Show", book_path(@books) %>
<%= link_to "Edit", edit_book_path(@books) %>
<%= link_to "Destroy", book_path(@books), method: :delete, "date-confirm" => "本当に削除しますか？" %>


<% end %>